<!DOCTYPE html>
<html>
<body>

<h2>DANH SÁCH SINH VIÊN THAM GIA KHÓA HỌC</h2>

<form action="/api/course/students/connectDB" method="get">
  <input type="submit" value="Kết nối CSDL sinh viên">
</form>
<form action="/api/course/students/load" method="get">
  <input type="submit" value="Xem CSDL về sinh viên">
</form>
<form action="/api/course/students/append" method="get">
  <input type="submit" value="Thêm sinh viên mới">
</form>
<form action="/api/course/students/update" method="get">
  <input type="submit" value="Cập nhật thông tin">
</form>
<form action="/api/course/students/delete" method="get">
  <input type="submit" value="Xóa thông tin sinh vien">
</form>
<form action="/api/course/students/search" method="get">
  <input type="submit" value="Tìm kiếm">
</form>
<p id = "trangthai"> </p>
<p>Phát triển bởi ....</p>

<script>
    let status = <%=statusA%>;
    if (status == true) 
        document.getElementById("trangthai").innerHTML = "Cơ sở dữ liệu đã được kết nối";
    else 
    document.getElementById("trangthai").innerHTML = "Chưa kết nối cơ sở dữ liệu!!!!!!!";
</script>

</body>
</html>
