<!DOCTYPE html>
<html>
<head>
    <style>
        table, th, td {
            border: 1px solid black;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <%tablefilename = dirname + '/student/view/table.ejs'%>
    <%- include (tablefilename)%>
<p id="demo"></p>
</script>
</body>
</html>